// Colors
$bg-color: #ecf0f3;

$color-primary: #009688;
$color-accent: #ffa500;
$color-warn: #f44336;
$color-warn-opaque: #f443361c;
$color-white: #fff;
$color-black: #000;
$color-light-grey: #eeeeee;
$color-grey: #808080;

$grey-border: #e1e1e1;
