/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './styles-variables.scss';
@import './app-theme.scss';

$custom-typography: mat-typography-config(
  $font-family: '"Poppins", sans-serif;',
);
@include mat-core($custom-typography);

html,
body {
  height: 100%;
  background-color: $color-white;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:focus {
  outline: none !important;
}

// Overrides

.mat-button,
.mat-flat-button,
.mat-raised-button {
  border-radius: 100px !important;
}

.mat-card,
.mat-expansion-panel {
  border-radius: 3px !important;
  box-shadow: 10px 10px 51px -29px rgba(0, 0, 0, 0.75) !important;
}

.inline-input {
  .mat-form-field-infix {
    border-top: 0px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  .mat-form-field-content {
    font-size: 15px;
  }

  .mat-form-field-underline {
    bottom: 0px !important;
  }
}

// Utils

.color-white {
  color: $color-white !important;
}

.color-black {
  color: $color-black !important;
}

.color-light-grey {
  color: $color-light-grey !important;
}

.color-grey {
  color: $color-grey !important;
}
