@import '../../../../../styles-variables.scss';

.products-list-card {
  width: 480px;
  height: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 170px;
  box-shadow: 6px 7px 14px -11px rgba(0, 0, 0, 0.75) !important;
  cursor: pointer;
  text-align: center;

  .product-img {
    margin-top: -35px !important;
    display: flex;
    justify-content: center;

    .mat-card-avatar {
      height: 80px;
      width: 80px;
      box-shadow: 7px 7px 18px -7px rgba(0, 0, 0, 0.75);
      background-color: $color-white;
      overflow: hidden;
    }

    .no-imagem {
      .mat-card-avatar {
        .mat-icon {
          font-size: 80px;
          height: 100%;
          width: auto;
          color: #e5e5e5;
        }
      }
    }
  }
}

.product-description-label {
  font-size: 15px !important;
}

.product-list {
  border-bottom: 1px dashed $color-light-grey;

  .amount-container {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .subtotal-container {
    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
