@import '../../../styles-variables.scss';

.navbar {
  position: fixed;
  z-index: 100;
  background-color: white;
  color: black;

  .logo {
    height: auto;
    width: 50px;
  }
}

.nav-item {
  font-size: 14px !important;
}
