@import '../../../styles-variables.scss';

.navbar {
  // background-image: linear-gradient(to right, #326690, #30bc6a);
  background-color: white;
}

.nav-item {
  font-size: 13px !important;
  text-transform: uppercase;
}
