<div class="container py-5">
	<div class="d-flex align-items-center justify-content-between pb-5">
		<div>
			<div>
				<app-element-breadcrumb [breadcrumb]="breadcrumb"></app-element-breadcrumb>
			</div>
			<span class="mat-headline m-0">
				<strong>{{ pageTitle }}</strong>
			</span>
		</div>
		<div>
			<button mat-flat-button color="primary" type="submit">Autofill random data</button>
		</div>
	</div>
	<div>
		<form>
			<div class="d-flex">
				<div class="form-group-title d-flex align-items-center pr-5">
					<strong class="mat-title">Category details</strong>
				</div>
				<div class="flex-grow-1">
					<app-element-form-field
						_label="Name"
						[_formControl]="categoryForm.get('name')"
						[_required]="true"
					></app-element-form-field>
					<app-element-form-field
						_label="Parent category"
						[_formControl]="categoryForm.get('parent')"
						[_required]="true"
					></app-element-form-field>
				</div>
			</div>
			<div class="d-flex justify-content-end py-5">
				<div class="pr-4">
					<button mat-button type="button" routerLink="/settings/categories">Cancel</button>
				</div>
				<div>
					<button mat-flat-button color="primary" type="submit">Save category</button>
				</div>
			</div>
		</form>
	</div>
</div>
