<div class="container">
  <div class="d-flex justify-content-around align-items-center py-5">
    <div class="d-flex flex-column justify-content-center">
      <div class="pb-5">
        <span class="mat-display-2 m-0"><strong>Monquelize</strong></span>
      </div>
      <div class="pb-5">
        <p class="mat-title subtitle">
          A real-world ERP web app to compare backends in Node.js using Mongoose/MongoDB and Sequelize/PostgreSQL
        </p>
      </div>
      <div>
        <button mat-flat-button color="primary" class="px-5 py-1">Get code on GitHub</button>
      </div>
    </div>
    <div>
      <img class="home-img" src="assets/home.svg" />
    </div>
  </div>
</div>
