<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between pb-5">
    <div>
      <div>
        <app-element-breadcrumb [breadcrumb]="breadcrumb"></app-element-breadcrumb>
      </div>
      <span class="mat-headline m-0">
        <strong>{{ pageTitle }}</strong>
      </span>
    </div>
    <div>
      <button mat-flat-button color="primary" type="submit">Autofill random data</button>
    </div>
  </div>
  <div>
    <form autocomplete="off">
      <mat-card class="px-5 py-4">
        <div class="d-flex">
          <div class="form-group-title d-flex align-items-center pr-5">
            <strong class="mat-title">Product details</strong>
          </div>
          <div class="flex-grow-1">
            <app-element-form-field
              _label="SKU"
              minWidth="210px"
              [_formControl]="productForm.get('sku')"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Name"
              minWidth="210px"
              [_formControl]="productForm.get('name')"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Description"
              minWidth="210px"
              [_formControl]="productForm.get('description')"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Category"
              minWidth="210px"
              [_formControl]="productForm.get('category')"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Unit"
              minWidth="210px"
              [_formControl]="productForm.get('unit')"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Sale price"
              minWidth="210px"
              [_formControl]="productForm.get('salePrice')"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Cost price"
              minWidth="210px"
              [_formControl]="productForm.get('costPrice')"
              [_required]="true"
            ></app-element-form-field>
          </div>
        </div>
        <div class="py-5">
          <mat-divider></mat-divider>
        </div>
        <div class="d-flex">
          <div class="form-group-title d-flex align-items-center pr-5">
            <strong class="mat-title">Inventory</strong>
          </div>
          <div class="flex-grow-1">
            <app-element-form-field
              _label="Initial amount"
              minWidth="210px"
              [_formControl]="productForm.get(['inventory', 'initialAmount'])"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Minimum Amount"
              minWidth="210px"
              [_formControl]="productForm.get(['inventory', 'minimumAmount'])"
              [_required]="true"
            ></app-element-form-field>
            <app-element-form-field
              _label="Maximum amount"
              minWidth="210px"
              [_formControl]="productForm.get(['inventory', 'maximumAmount'])"
              [_required]="true"
            ></app-element-form-field>
          </div>
        </div>
      </mat-card>
      <div class="d-flex justify-content-end py-5">
        <div class="pr-4">
          <button mat-button type="button" routerLink="/products">Cancel</button>
        </div>
        <div>
          <button mat-flat-button color="primary" type="submit">Save product</button>
        </div>
      </div>
    </form>
  </div>
</div>
