<div class="container py-5">
  <div class="pb-5">
    <app-element-loading-area [mongodbMongooseTime]="mongodbMongooseTime"></app-element-loading-area>
  </div>
  <div class="pb-5">
    <span class="mat-headline"><strong>Products</strong></span>
  </div>
  <div class="d-flex pb-5">
    <div>
      <app-element-button-icon-text
        icon="add"
        text="Add product"
        [routerLink]="['add']"
        color="primary"
      ></app-element-button-icon-text>
    </div>
    <div class="flex-grow-1 px-5">
      <mat-form-field class="inline-input w-100" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <div>
        <app-element-button-icon-text icon="refresh" text="Refresh" color="primary"></app-element-button-icon-text>
      </div>
    </div>
  </div>
  <div>
    <ng-container *ngIf="productsDataSouce.data.length; else noProductsFound">
      <mat-card>
        <table mat-table [dataSource]="productsDataSouce" class="w-100">
          <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef>SKU</th>
            <td mat-cell *matCellDef="let product">{{ product.sku }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let product">{{ product.name }}</td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let product">{{ product.category?.name || '-' }}</td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let product">{{ product.unit?.shortUnit || '-' }}</td>
          </ng-container>

          <ng-container matColumnDef="salePrice">
            <th mat-header-cell *matHeaderCellDef>Sale price</th>
            <td mat-cell *matCellDef="let product">$ {{ product.salePrice }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="productsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: productsColumns"></tr>
        </table>
      </mat-card>
    </ng-container>
    <ng-template #noProductsFound>
      <app-element-card-no-data-found text="No products found"></app-element-card-no-data-found>
    </ng-template>
  </div>
</div>
