<div class="container py-5">
  <div class="pb-5">
    <span class="mat-headline"><strong>Inventory</strong></span>
  </div>
  <div class="pb-5" *ngIf="formControlHasValue">
    <app-element-loading-area [databaseTimes]="databaseTimes"></app-element-loading-area>
  </div>
  <div class="d-flex pb-5">
    <div class="flex-grow-1 pr-5">
      <app-elemet-search-input
        placeholder="Search product by SKU or name"
        (onFormControlValueChanges)="onSearchFormControlChange($event)"
      ></app-elemet-search-input>
    </div>
    <div>
      <app-element-button-icon-text
        icon="refresh"
        text="Refresh"
        color="primary"
        (btnClick)="refreshComponent()"
      ></app-element-button-icon-text>
    </div>
  </div>
  <div>
    <ng-container *ngIf="!formControlHasValue; else elseTemplate">
      <div class="d-flex justify-content-center">
        <span class="mat-title color-grey py-5"> Search for a product </span>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="products; else loading">
        <ng-container *ngIf="productsDataSource.data.length; else noProductsFound">
          <mat-card>
            <table mat-table [dataSource]="productsDataSource" class="w-100">
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef>SKU</th>
                <td mat-cell *matCellDef="let product" (click)="navigateToProductInventoryDetails(product)">
                  {{ product.sku }}
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let product" (click)="navigateToProductInventoryDetails(product)">
                  {{ product.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let product" (click)="navigateToProductInventoryDetails(product)">
                  {{ product.category?.name || '-' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td mat-cell *matCellDef="let product" (click)="navigateToProductInventoryDetails(product)">
                  {{ product.unit?.shortUnit || '-' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="currentAmount">
                <th mat-header-cell *matHeaderCellDef>Current Amount</th>
                <td mat-cell *matCellDef="let product" (click)="navigateToProductInventoryDetails(product)">
                  {{ product.currentAmount }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="productsColumns"></tr>
              <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: productsColumns"></tr>
            </table>
          </mat-card>
        </ng-container>
        <ng-template #noProductsFound>
          <app-element-card-no-data-found text="No products found"></app-element-card-no-data-found>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <div class="d-flex justify-content-center align-items-center py-5">
          <mat-spinner [diameter]="20" [strokeWidth]="3"></mat-spinner>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
