<div class="container py-5">
  <div class="pb-5">
    <div>
      <app-element-breadcrumb [breadcrumb]="breadcrumb"></app-element-breadcrumb>
    </div>
    <span class="mat-headline m-0">
      <strong>{{ pageTitle }}</strong>
    </span>
  </div>
  <div class="pb-5">
    <app-element-loading-area [databaseTimes]="databaseTimes"></app-element-loading-area>
  </div>
  <div class="d-flex justify-content-end pb-5">
    <div>
      <app-element-button-icon-text
        icon="refresh"
        text="Refresh"
        color="primary"
        (btnClick)="refreshComponent()"
      ></app-element-button-icon-text>
    </div>
  </div>
  <div>
    <ng-container *ngIf="showPageData; else loading">
      <div class="d-flex flex-wrap pb-5">
        <ng-container *ngFor="let infoCard of infoCards">
          <div class="flex-grow-1 p-3">
            <mat-card class="info-card d-flex align-items-center">
              <div class="d-flex align-items-center pr-5">
                <i class="material-icons-outlined color-{{ infoCard.iconColor }}">{{ infoCard.icon }}</i>
              </div>
              <div>
                <div class="d-flex justify-content-center align-items-center pb-3">
                  <span class="mat-title m-0">{{ infoCard.value }}</span>
                </div>
                <div>
                  <span class="mat-caption">{{ infoCard.title }}</span>
                </div>
              </div>
            </mat-card>
          </div>
        </ng-container>
      </div>
      <div class="d-flex align-items-center pb-4">
        <div class="pr-5">
          <span class="mat-title">History</span>
        </div>
        <div class="pr-5">
          <app-element-button-icon-text
            icon="add"
            text="Add inventory movement"
            color="primary"
            (btnClick)="openDialogAddInventoryMovement()"
          ></app-element-button-icon-text>
        </div>
        <div>
          <app-element-button-icon-text
            icon="swap_vert"
            text="Inventory adjustment"
            color="primary"
            (btnClick)="openDialogAdjustProductInventory()"
          ></app-element-button-icon-text>
        </div>
      </div>
      <ng-container *ngIf="historyDataSouce.data.length; else noHistoryFound">
        <mat-card>
          <table mat-table [dataSource]="historyDataSouce" class="w-100">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let historyRegister">{{ historyRegister.date }}</td>
            </ng-container>

            <ng-container matColumnDef="movementType">
              <th mat-header-cell *matHeaderCellDef>Movement type</th>
              <td mat-cell *matCellDef="let historyRegister">{{ historyRegister.movementType }}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let historyRegister">{{ historyRegister.amount }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="historyColumns"></tr>
            <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: historyColumns"></tr>
          </table>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 50, 100]"> </mat-paginator>
        </mat-card>
      </ng-container>
      <ng-template #noHistoryFound>
        <app-element-card-no-data-found text="No movement history found"></app-element-card-no-data-found>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <div class="d-flex justify-content-center align-items-center py-5">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
