<div class="d-flex justify-content-between align-items-center pb-4">
  <div>
    <span class="mat-title">{{ dialogTitle }}</span>
  </div>
  <div class="d-flex align-items-center" *ngIf="!dialogRef.disableClose">
    <div class="pr-5" *ngIf="!isNewPaymentMethod && paymentMethod">
      <app-element-button-icon-text
        icon="delete"
        text="Remove Payment Method"
        (btnClick)="removePaymentMethod()"
      ></app-element-button-icon-text>
    </div>
    <div>
      <button mat-icon-button (click)="closeDialog(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="px-4">
  <ng-container *ngIf="showLoadingArea">
    <div class="pb-5">
      <app-element-loading-area [databaseTimes]="databaseTimes"></app-element-loading-area>
    </div>
  </ng-container>
  <ng-container *ngIf="showDoneButton">
    <div class="d-flex justify-content-center pb-5">
      <button mat-flat-button color="primary" (click)="closeDialog(true)">Done!</button>
    </div>
  </ng-container>
  <ng-container *ngIf="showForm && !showDoneButton">
    <div class="pb-5">
      <form [formGroup]="paymentMethodForm">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 pr-5">
            <mat-form-field class="w-100">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>
          </div>
          <div>
            <mat-slide-toggle color="primary" formControlName="acceptChange"> Accept change </mat-slide-toggle>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center align-items-center pb-5">
      <div class="pr-5">
        <button mat-button (click)="closeDialog()">Cancel</button>
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="savePaymentMethod()">Save payment method</button>
      </div>
    </div>
  </ng-container>
</div>
