<!-- <div class="container py-5">
  <div class="pb-5">
    <span class="mat-headline m-0">
      <strong>Purchases</strong>
    </span>
  </div>
  <div class="pb-5">
    <app-element-loading-area [mongodbMongooseTime]="mongodbMongooseTime"></app-element-loading-area>
  </div>
  <div class="d-flex justify-content-between pb-4">
    <div>
      <app-element-button-icon-text
        icon="add"
        text="Add purchase"
        color="primary"
        [routerLink]="['add']"
      ></app-element-button-icon-text>
    </div>
    <div class="d-flex align-items-center">
      <div class="pr-4">
        <app-element-date-selector
          [optionsList]="['month']"
          (dateSelector)="onDateRangeChange($event)"
        ></app-element-date-selector>
      </div>
      <div>
        <app-element-button-icon-text
          icon="refresh"
          text="Refresh"
          color="primary"
          (click)="refreshComponent()"
        ></app-element-button-icon-text>
      </div>
    </div>
  </div>
  <div>
    <ng-container *ngIf="purchases; else loading">
      <ng-container *ngIf="purchasesDataSource?.data.length; else noCategoriesFound">
        <mat-card>
          <table mat-table [dataSource]="purchasesDataSource" class="w-100">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell class="cursor-pointer" *matCellDef="let purchase" [routerLink]="['edit', purchase._id]">
                {{ purchase.code }}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell class="cursor-pointer" *matCellDef="let purchase" [routerLink]="['edit', purchase._id]">
                {{ purchase.date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="vendor">
              <th mat-header-cell *matHeaderCellDef>Vendor</th>
              <td mat-cell class="cursor-pointer" *matCellDef="let purchase" [routerLink]="['edit', purchase._id]">
                {{ purchase.vendor || '-' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="totalValue">
              <th mat-header-cell *matHeaderCellDef>Total value</th>
              <td mat-cell class="cursor-pointer" *matCellDef="let purchase" [routerLink]="['edit', purchase._id]">
                $ {{ purchase.totalValue }}
              </td>
            </ng-container>

            <ng-container matColumnDef="buyer">
              <th mat-header-cell *matHeaderCellDef>Buyer</th>
              <td mat-cell class="cursor-pointer" *matCellDef="let purchase" [routerLink]="['edit', purchase._id]">
                {{ purchase.buyer?.fullName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell class="cursor-pointer" *matCellDef="let purchase" [routerLink]="['edit', purchase._id]">
                {{ purchase.status }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="purchasesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: purchasesColumns"></tr>
          </table>
          <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100]"> </mat-paginator>
        </mat-card>
      </ng-container>
      <ng-template #noCategoriesFound>
        <app-element-card-no-data-found text="No purchases found"></app-element-card-no-data-found>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <div class="d-flex justify-content-center align-items-center py-5">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div> -->
